<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>check_Attendance</servlet-name>
        <servlet-class>controller.lecturer.takeAttendance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>home</servlet-name>
        <servlet-class>controller.lecturer.homeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>timeTable</servlet-name>
        <servlet-class>controller.lecturer.timetableController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>view_report_attendance</servlet-name>
        <servlet-class>controller.lecturer.viewReportController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutController</servlet-name>
        <servlet-class>controller.auth.lecturer.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginController</servlet-name>
        <servlet-class>controller.auth.lecturer.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>studentHome</servlet-name>
        <servlet-class>controller.student.homeStudentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>studentTimetable</servlet-name>
        <servlet-class>controller.student.timetableStudentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>groupController</servlet-name>
        <servlet-class>controller.lecturer.groupController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getInfoControlller</servlet-name>
        <servlet-class>controller.lecturer.getInfoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>studentLoginController</servlet-name>
        <servlet-class>controller.auth.student.StudentLoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>studentLogoutController</servlet-name>
        <servlet-class>controller.auth.student.StudentLogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>studentAttendanceReport</servlet-name>
        <servlet-class>controller.student.studentAttendanceReport</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>check_Attendance</servlet-name>
        <url-pattern>/takeAttendance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>timeTable</servlet-name>
        <url-pattern>/timeTable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>view_report_attendance</servlet-name>
        <url-pattern>/view_report_attendance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>studentHome</servlet-name>
        <url-pattern>/student_home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>studentTimetable</servlet-name>
        <url-pattern>/studentTimetable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>groupController</servlet-name>
        <url-pattern>/group</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getInfoControlller</servlet-name>
        <url-pattern>/getInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>studentLoginController</servlet-name>
        <url-pattern>/studentLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>studentLogoutController</servlet-name>
        <url-pattern>/studentLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>studentAttendanceReport</servlet-name>
        <url-pattern>/studentAttendanceReport</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
